:root {
    --primary: white;
    --secondary: #0D0D0D;
    --special-text: #7E7E7E;
    --link: #3cff00;
    --background: #424242;
    --shadow-color: rgba(0, 0, 0, 0.16);
    --input-border: #CCCCCC;
    --text-color: white;
}