:root {
    --primary: #0D0D0D;
    --secondary: white;
    --special-text: #7E7E7E;
    --link: #E60000;
    --background: #f2f2f2;
    --shadow-color: rgba(0, 0, 0, 0.16);
    --input-border: #CCCCCC;

}